.about {
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 15vh;
  overflow: hidden;
}

.profiles {
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 5vw;
  margin-top: 2vw;
}

.contentTitleAndBorder {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 2vw;
}

.title {
  font-size: clamp(24px, 1.8vw, 1.8vw);
  font-weight: 500;
}

.borderTitle {
  width: 20vw;
  height: 0.3vw;
}

.contentCardProfile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 6vw;
  width: 70vw;
}

.contentText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5vw;
  margin-top: 5vh;
}

.contentText p {
  width: 60vw;
  color: #296572;
  text-align: center;
  font-size: clamp(16px, 1.5vw, 1.5vw);
  font-weight: 300;
}

@media (max-width: 600px) {
  .contentCardProfile {
    gap: 3vh;
    margin-top: 30px;
    width: 100%;
  }

  .contentText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5vw;
    margin-bottom: 10vh;
  }

  .contentText p {
    width: 90vw;
  }

  .borderTitle {
    width: 300px;
    height: 4px;
  }
}
